In [10]:
#Load the dataset 
import pandas as pd
df = pd.read_csv('Technology Products.csv',index_col = False)
df.head()

,Product_ID,Product_Name,Category,Brand,Price,Units_Sold,Customer_Rating,Launch_Year,Processor_Type,RAM,Storage,Battery_Life,Operating_System,Warranty_Period
0,1.0,GameStation Z,Tablet,MegaSoft,679.27,9701.0,4.2,2022.0,Snapdragon 888,6.0,512.0,NaN,iOS,1.0
1,2.0,WorkPro 15,Tablet,TechCorp,682.97,1096.0,4.4,2023.0,Intel i7,8.0,256.0,12.0,Windows,2.0
2,3.0,UltraPhone X,Smartphone,MegaSoft,779.28,1604.0,3.9,2023.0,Snapdragon 888,12.0,256.0,8.0,iOS,1.0
3,4.0,GameStation Z,Laptop,TechCorp,843.43,4789.0,4.9,2022.0,AMD Ryzen 7,16.0,128.0,8.0,Windows,1.0
4,5.0,GameStation Z,Laptop,TechCorp,1064.79,2278.0,3.6,2022.0,AMD Ryzen 7,32.0,256.0,10.0,Windows,2.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        47500 non-null  float64
 1   Product_Name      47500 non-null  object
 2   Category          47500 non-null  object
 3   Brand             47500 non-null  object
 4   Price             47500 non-null  float64
 5   Units_Sold        47500 non-null  float64
 6   Customer_Rating   47500 non-null  float64
 7   Launch_Year       47500 non-null  float64
 8   Processor_Type    47500 non-null  object
 9   RAM               47500 non-null  float64
 10  Storage           47500 non-null  float64
 11  Battery_Life      47500 non-null  float64
 12  Operating_System  47500 non-null  object
 13  Warranty_Period   47500 non-null  float64
dtypes: float64(9), object(5)
memory usage: 5.3+ MB

# HANDLING MISSING VALUES

In [12]:
# Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

Product_ID          2500
Product_Name        2500
Category            2500
Brand               2500
Price               2500
Units_Sold          2500
Customer_Rating     2500
Launch_Year         2500
Processor_Type      2500
RAM                 2500
Storage             2500
Battery_Life        2500
Operating_System    2500
Warranty_Period     2500
dtype: int64

In [13]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24351 entries, 1 to 49999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        24351 non-null  float64
 1   Product_Name      24351 non-null  object
 2   Category          24351 non-null  object
 3   Brand             24351 non-null  object
 4   Price             24351 non-null  float64
 5   Units_Sold        24351 non-null  float64
 6   Customer_Rating   24351 non-null  float64
 7   Launch_Year       24351 non-null  float64
 8   Processor_Type    24351 non-null  object
 9   RAM               24351 non-null  float64
 10  Storage           24351 non-null  float64
 11  Battery_Life      24351 non-null  float64
 12  Operating_System  24351 non-null  object
 13  Warranty_Period   24351 non-null  float64
dtypes: float64(9), object(5)
memory usage: 2.8+ MB

# DETECTING OUTLIERS AND MANAGING OUTLIERS

In [14]:
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier thresholds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
outliers = df[(df['Price'] < lower_bound) | (df['Price'] > upper_bound)]
print("Number of outliers:", len(outliers))
#print("Outliers:\n", outliers)

Number of outliers: 384

In [15]:
import pandas as pd

# Calculate IQR
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier thresholds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers
df_clean = df[(df['Price'] >= lower_bound) & (df['Price'] <= upper_bound)]

print(f"Removed {len(df) - len(df_clean)} outliers.")

Removed 384 outliers.

In [17]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23967 entries, 1 to 49999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        23967 non-null  float64
 1   Product_Name      23967 non-null  object
 2   Category          23967 non-null  object
 3   Brand             23967 non-null  object
 4   Price             23967 non-null  float64
 5   Units_Sold        23967 non-null  float64
 6   Customer_Rating   23967 non-null  float64
 7   Launch_Year       23967 non-null  float64
 8   Processor_Type    23967 non-null  object
 9   RAM               23967 non-null  float64
 10  Storage           23967 non-null  float64
 11  Battery_Life      23967 non-null  float64
 12  Operating_System  23967 non-null  object
 13  Warranty_Period   23967 non-null  float64
dtypes: float64(9), object(5)
memory usage: 2.7+ MB

### CHANGING DATATYPE OF SOME IMPORTANT COLUMNS

In [55]:
df_clean[['Product_ID', 'Launch_Year', 'Warranty_Period']] = df_clean[['Product_ID', 'Launch_Year', 'Warranty_Period']].astype(int)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23967 entries, 1 to 49999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        23967 non-null  int32
 1   Product_Name      23967 non-null  object
 2   Category          23967 non-null  object
 3   Brand             23967 non-null  object
 4   Price             23967 non-null  float64
 5   Units_Sold        23967 non-null  float64
 6   Customer_Rating   23967 non-null  float64
 7   Launch_Year       23967 non-null  int32
 8   Processor_Type    23967 non-null  object
 9   RAM               23967 non-null  float64
 10  Storage           23967 non-null  float64
 11  Battery_Life      23967 non-null  float64
 12  Operating_System  23967 non-null  object
 13  Warranty_Period   23967 non-null  int32
 14  Launch_year       23967 non-null  int32
dtypes: float64(6), int32(4), object(5)
memory usage: 2.6+ MB

## CREATING NEW FEATURE

In [89]:
# Calculate the Success_Rate as the product of Units_Sold and Customer_Rating
df_clean['Success_Rate'] = df_clean['Units_Sold'] * df['Customer_Rating']

In [82]:
# Define the threshold using the median Success_Rate
threshold = df_clean['Success_Rate'].median()

In [90]:
# Create the Success Category column
df_clean['Success_Category'] = df_clean['Success_Rate'].apply(lambda x: 'Successful' if x >= threshold else 'Not Successful')
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23967 entries, 1 to 49999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        23967 non-null  int32
 1   Product_Name      23967 non-null  object
 2   Category          23967 non-null  object
 3   Brand             23967 non-null  object
 4   Price             23967 non-null  float64
 5   Units_Sold        23967 non-null  float64
 6   Customer_Rating   23967 non-null  float64
 7   Launch_Year       23967 non-null  int32
 8   Processor_Type    23967 non-null  object
 9   RAM               23967 non-null  float64
 10  Storage           23967 non-null  float64
 11  Battery_Life      23967 non-null  float64
 12  Operating_System  23967 non-null  object
 13  Warranty_Period   23967 non-null  int32
 14  Launch_year       23967 non-null  int32
 15  Success_Rate      23967 non-null  float64
 16  Success_Category  23967 non-null  object
dtypes: float64(7), int32(4), object(6)
memory usage: 3.4+ MB

# STANDARDIZATION OF DATASET

In [93]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# List of numerical columns to standardize
numerical_columns = ['Price', 'Units_Sold', 'Customer_Rating', 'RAM', 'Storage', 'Battery_Life', 'Success_Rate']

# Initialize the scaler
scaler = StandardScaler()

# Copy the DataFrame to avoid modifying the original one
df_final = df_clean.copy()

# Fit the scaler and transform the numerical columns
df_final[numerical_columns] = scaler.fit_transform(df_clean[numerical_columns])

# Display the first few rows of the standardized DataFrame
print(df_final.head(2))

   Product_ID  Product_Name    Category     Brand     Price  Units_Sold  \
1        2023    WorkPro 15      Tablet  TechCorp -1.085571   -1.514311
2        2023  UltraPhone X  Smartphone  MegaSoft -0.754351   -1.328827

   Customer_Rating  Launch_Year  Processor_Type       RAM   Storage  \
1        -0.206548         2023        Intel i7 -0.536279 -0.395189
2        -1.212958         2023  Snapdragon 888 -0.108758 -0.395189

   Battery_Life Operating_System  Warranty_Period  Launch_year  Success_Rate  \
1     -0.250124          Windows                2         2023     -1.483484
2     -0.888099              iOS                1         2023     -1.370228

  Success_Category
1   Not Successful
2   Not Successful

In [99]:
df_final.head()

,Product_ID,Product_Name,Category,Brand,Price,Units_Sold,Customer_Rating,Launch_Year,Processor_Type,RAM,Storage,Battery_Life,Operating_System,Warranty_Period,Launch_year,Success_Rate,Success_Category
1,2023,WorkPro 15,Tablet,TechCorp,-1.085571,-1.514311,-0.206548,2023,Intel i7,-0.536279,-0.395189,-0.250124,Windows,2,2023,-1.483484,Not Successful
2,2023,UltraPhone X,Smartphone,MegaSoft,-0.754351,-1.328827,-1.212958,2023,Snapdragon 888,-0.108758,-0.395189,-0.888099,iOS,1,2023,-1.370228,Not Successful
3,2022,GameStation Z,Laptop,TechCorp,-0.533733,-0.165905,0.799862,2022,AMD Ryzen 7,0.318763,-0.762679,-0.888099,Windows,1,2022,-0.010204,Successful
4,2022,GameStation Z,Laptop,TechCorp,0.227547,-1.082733,-1.816804,2022,AMD Ryzen 7,2.028848,-0.395189,-0.569112,Windows,2,2022,-1.216513,Not Successful
6,2017,UltraPhone X,Laptop,Innovatech,-0.161966,0.515053,-1.816804,2017,Intel i7,2.028848,0.339791,-0.250124,Android,3,2017,0.028383,Successful

## CONVERTING DATAFRAME INTO CSV FOR DOCUMENTATION

In [101]:
df_final.to_csv('Cleaned Dataset.csv', index=False)